* {
    font-family: Cambria, serif;
    text-align: center;
}
header, footer {
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
}


nav {
    background-color: rgb(173, 20, 87);
    text-align: left;
}



section.lewy {
    background-color: Snow;
    color: OliveDrab;
    width: 60%;
    height: 322px;
    text-align: left;
    float: left;
}
section.prawy {
    background-color: rgb(173, 20, 87);
    width: 40%;
    height: 322px;
    float: left;
}

section.prawy img {
    margin: 40px;
    padding: 10px;
}


section.prawy img:hover {
    border: 1px dotted YellowGreen;
}



a {
    padding: 0px 50px;
    color: YellowGreen;
    text-decoration: none;
}




table, td {
    border: 1px solid OliveDrab;
}

table {
    width: 90%;
    border-collapse: collapse;
}
