* {
    font-family: Trebuchet MS;
    
}
main{
    display: flex;
}
.section_conainer{
    flex-direction: column;
    display: flex;
    width: 70%;

}

.block_boczny{
    background-color: #C5CAE9;
    width: 40%;
    height: 600px;
    overflow: auto;
}
section{
    width: 100%;
    height: 300px;
    margin: auto;
    padding: 10px;
    flex: 1;
}
footer{
    background-color: #283593;
    color: white;
    margin: 20px;
}
.opona{
    background-color: #9FA8DA;
    margin: 40px;
    padding: 10px;
    border: black 2px dashed;
    border-radius: 20px;
}
.lewy_obraz{
    float: left;       
    margin: 20px;      
    width: 200px;      
    height: auto;     
}