*{
    text-align: center;
    font-family: Georgia;
}
footer, header{
    background-color: tomato;
    font-family: MistyRose;
}
nav{
    width: 20%;
}
div{
    background-color: #ffaea5;
    height: 170px;
    font-size: 200%;
}

.blok1{
    background-color: mistyrose;
}
main{
    background-color: mistyrose;
    width: 80%;
    height: 510px;
    overflow: auto;

}
.sec2, .sec3{
     display: none;
   
}
table{
    padding:auto;
    width: 60%;
    border: 1px dashed indigo;
}
select, button{
    padding:20px;
}
li:hover{
    font-size: 180%;
    transition: font-size 0.3s ease;


}