body{
    font-family: Verdana;
   
}
.blockBoczny{
    width: 20%;
    height: 610px;
    float: left;
}
img{
    width: 100%;
    height: 610px;
}
header,nav, footer{
    float: right;
    background-color: MediumPurple;
    color: white;
    width: 80%;
    height: 50px;
    
    justify-items: center;
    text-shadow: 4px 4px dimgray;
    
}
nav{
    padding-top: 10px ;

}
main{
    background-color: thistle;
    width: 80%;
    height: 450px;
    overflow: hidden;

}
ul{
    margin: 40px auto;
    font-size: 25px;
    border: 2px solid MediumPurple;
    list-style: none;
    width: 70%;
}
li{
    margin: 10px;
    
}
li:nth-child(even){
    background-color: #DDCADD;
}
li:hover{
    background-color: Lavender;
}
.wykonane{
    float:right;
    background-color: MediumPurple;
    color:white;
    height: 30px;
    border: none;
   
}